
/* styles/Home.module.css */
/*.pageContainer {*/
/*    display: flex;*/
/*    background: #1A01CC;*/
/*}*/

/*.mainContent {*/
/*    flex-grow: 1;*/
/*    transition: margin-left 0.3s ease;*/
/*    padding: 20px;*/
/*    margin-left: 100px;*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/

/*.expandedMain {*/
/*    margin-left: 200px;*/
/*}*/